

.icon-size{
    inline-size: 34px;
    margin-top: -40px;
    margin-left: 10px;
}

.logo h3{
    margin-left: 200px;
}

nav ul{
    list-style: none;
}

.nav-con{
    margin-left: 150px;
    margin-top: -45px;
}

nav li{
    float: left;
    padding-left: 40px;
    font-size: 18px;
    font-family: 'Sedgwick Ave Display', cursive;
    color: white;
    font-weight: bold;
}

nav li:hover{
    cursor: pointer;
    color: rgba(193, 22, 136, 0.805);
}

.active{
    color: black;
    font-weight: bold;
}

.move{
    width: 255px;
    margin-left: 75%;
    border-color: black;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: transparent;
    margin-top: -100px;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
}

header{
    width: 100%;
    height: 840px;
    background-image: url(../assets/Cover/Screenshot\ 2023-04-10\ 095022.png);
    background-size: cover;
    background-position: center;
    margin-top: -89px;
    color: black;
}

.heading{
    padding-top: 200px;
    margin-left: -90px;
    margin-top: -80px;
}
.overlay2{
    width: 100%;
    height: 840px;
   
    padding-top: 100px;
    padding-left: 10%;
}

header h3{
    font-size: 36px;
    font-family: 'Rubik Pixels', cursive;
}

header h1{
    font-size: 72px;
    font-family: 'Sedgwick Ave Display', cursive;
    margin-bottom: 70px;
}
.button{
    float: left;
}

.normal-button{
    width: 255px;
    height: 70px;
    background-color:  black;
    border: 3px solid  black;
    border-radius: 35px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Sedgwick Ave Display', cursive;
    color: white;
}

.normal-button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 3px solid rgba(193, 22, 136, 0.805);
    color: white;
}

.inverted-button{
    width: 255px;
    height: 70px;
    background-color:  black;
    border: 3px solid  black;
    border-radius: 35px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Sedgwick Ave Display', cursive;
    color: white;
    margin-left: 280px;
    margin-top: -70px;
}

.inverted-button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 3px solid burlywood;
    color: white;
}

.heart{
    margin-left: 580px;
    margin-top: -70px;
    inline-size: 70px;
    
}

.background{
    background-color: #0B0C10;
}

.text{
    width: 650px;
    height: 400px;
    background-color: rgba(193, 22, 136, 0.805);
    padding-top: 50px;
    padding-right: 40px;
    margin-left: 789px;
    margin-top: -100px;
    color: white;
}

.text h3{
    font-size: 24px;
    font-family: 'Rubik Pixels', cursive;
    margin-left: 80px;
    
}

.text h1{
    font-weight: bold;
    font-family: 'Rubik Pixels', cursive;
    margin-left: 80px;
}

.text p{
    font-size: 18px;
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: bold;
    margin-left: 80px;
}

.left-arrow{
    inline-size: 44px;
    margin-top: -20px;
    margin-left: 500px;
}

.right-arrow{
    inline-size: 44px;
    margin-top: -44px;
    margin-left: 560px;
}

.image{
    width: 650px;
    height: 330px;
    background-color: darkgoldenrod;
    margin-top: -400px;
    margin-left: 200px;
}

.heading{
    font-family: 'Rubik Pixels', cursive;
    font-weight: bold;
    color: white;
    padding-top: 200px;
    padding-left: 95px;
}

.col-box{
    width: 277px;
    height: 277px;
    background-image: url(../assets/Album/1\ album-Jcole.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    
}

.col-box2{
    width: 277px;
    height: 277px;
    background-image: url(../assets/Album/2\ album\ Summer\ walker.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.col-box3{
    width: 277px;
    height: 277px;
    background-image: url(../assets/Album/3\ album\ HER.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.col-box4{
    width: 277px;
    height: 277px;
    background-image: url(../assets/Album/4\ album\ one\ house.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.col-box5{
    width: 277px;
    height: 277px;
    background-image: url(../assets/Album/5\ album\ starRo.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.col-box6{
    width: 277px;
    height: 277px;
    background-image: url(../assets/Album/6\ album\ naomi.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.col-box7{
    width: 277px;
    height: 277px;
    background-image: url(../assets/Album/7\ album\ lecrae.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.col-box8{
    width: 277px;
    height: 277px;
    background-image: url(../assets/Album/8\ album\ brent\ faiyaz.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.col-box9{
    width: 277px;
    height: 277px;
    background-image: url(../assets/Album/9\ album\ blxst.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.col-box10{
    width: 277px;
    height: 277px;
    background-image: url(../assets/Album/10\ album\ blxst.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.col-box11{
    width: 277px;
    height: 277px;
    background-image: url(../assets/Album/11\ album\ seventeen.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.col-box12{
    width: 277px;
    height: 277px;
    background-image: url(../assets/Album/14\ album\ bambam.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.overlay{
    width: 277px;
    height: 170px;
    background-color: rgba(0,0,0,0.5);
    padding-top: 80px;
    opacity: 0;
}

.overlay:hover{
    cursor: pointer;
    opacity: 1;
}

.icon{
    width: 60px;
    height: 60px;
    background-image: url(../assets/Icons/other/play_icon\ \(2\).svg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin: 0 auto;
}

.small-heart{
    margin-left: 190px;
    margin-top: -80px;
}

.content{
    width: 225px;
    height: 51px;
    margin-top: 30px;
    color: rgb(2, 62, 2);
    padding-left: 25px;
    padding-top: 9px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    margin-left: -20px;
    font-size: 10px;
}

footer{
    width: 100%;
    height: 150px;
    background-color:  #0B0C10;
    padding-top: 50px;
    color: black;
}

footer h4{
    margin-left: 70px;
    color: white;
}

.youtube{
    inline-size: 50px;
    margin-left: 1160px;
    margin-top: -30px;
}

.facebook{
    inline-size: 50px;
    margin-left: 1240px;
    margin-top: -48px;
}

.twitter{
    inline-size: 50px;
    margin-left: 1320px;
    margin-top: -48px;
}

.instagram{
    inline-size: 50px;
    margin-left: 1400px;
    margin-top: -48px;
}